.body {
  &__global-container {
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
  }
  &__inner {
    position: relative;
    overflow-x: hidden;
  }
  &__modal-state {
    width: 100%;
    height: 100vh;
    background-color: $bg-color-white;
    position: fixed;
    z-index: 200;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.6s, visibility 0.6s;
    &--visible {
      opacity: 0.9;
      visibility: visible;
    }
  }
}

@media (min-width: 1366px) {
  .body {
    &__inner {
      display: flex;
    }

    &__burger-menu {
      display: block;
    }
  }
}
