.brands {
  background-color: $bg-color;
  border-bottom: 1px solid $border-bottom;
  // min-height: 154px;
  // padding-top: 95px;
  &__btn-show-all {
    display: none;
  }
  &__slides-wrapper {
    padding-top: 16px;
    display: flex;
    width: auto;
  }
  &__slide {
    display: flex;
    justify-content: center;
    width: 240px;
    &:not(:last-child) {
      margin-right: 16px;
    }
  }
  &__pagination {
    position: relative;
    margin-top: 19px;
  }
}

.swiper-pagination-bullet {
  background-color: $dots-color;
  width: 12px;
  height: 12px;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal
  .swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 0 6px;
}

@media (min-width: 768px) {
  .brands {
    &__btn-show-all {
      display: block;
      margin-top: 24px;
    }
    &__slides-wrapper {
      display: flex;
      flex-wrap: wrap;
      column-gap: 24px;
      row-gap: 16px;
      padding-top: 24px;
    }
    &__slide {
      width: 224px;

      &:not(:last-child) {
        margin: 0;
      }
    }
    &__slide:not(:nth-child(-n + 6)) {
      display: none;
    }
  }
}

@media (min-width: 1119px) {
  .brands__slide:nth-child(n) {
    display: block;
  }
}

@media (min-width: 1120px) {
  .brands {
    &__slides-wrapper {
      display: flex;
      flex-wrap: wrap;
      column-gap: 32px;
      row-gap: 16px;
    }
    &__slide {
      width: 240px;
    }
    &__slide:not(:nth-child(-n + 8)) {
      display: none;
    }
  }
}

.brands-slide--visible:nth-child(n) {
  display: block;
}
