.burger-menu {
  width: 320px;
  min-height: 100%;
  font-family: 'TT Lakes Medium';
  font-size: 16px;
  line-height: 24px;
  background-color: $bg-color-white;
  padding: 18px 16px 32px 16px;
  transform: translateX(-100%);
  transition: transform 0.5s;
  position: absolute;
  z-index: 300;
  &--open {
    display: block;
    box-shadow: 10px 0px 100px 0px rgba(145, 144, 144, 0.5);
    transform: translateX(0%);
  }
  &__burger-list {
    margin-top: 22px;
  }
  &__contacts {
    margin-top: 32px;
  }
}
.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__btn-burger {
    display: none;
  }

  &__btn-close {
    display: flex;
  }

  &__btn-search {
    display: flex;
  }
  &__logo {
    margin-right: 60px;
  }
}

.logo::before {
  display: none;
}
.burger-list {
  position: relative;
  &__item:not(:last-child) {
    margin-bottom: 24px;
  }

  &__item--active {
    color: $text-gray;
  }
  &__item--active::after {
    content: url(../img/psevdo-el-2.svg);
    position: absolute;
    left: 0;
    margin-left: -15px;
  }
}
.contacts {
  &__mail {
    display: block;
    margin-top: 14px;
  }

  &__number {
    display: block;
    margin-top: 14px;
    font-family: 'TT Lakes Bold';
    font-size: 24px;
  }

  &__languages {
    margin-top: 8px;
    display: flex;
    gap: 7px;
    &__item {
      cursor: pointer;
    }

    .languages__item--active {
      color: $text-gray;
    }
  }
}
.connection {
  display: flex;
  align-items: center;
  gap: 16px;

  &__btn-chat {
    padding-top: 10px;
  }
}

.buttons {
  &__connection {
    display: none;
  }
}
.navigation {
  &__btn-burger {
    display: flex;
  }

  &__btn-close {
    display: none;
  }

  &__btn-search {
    display: none;
  }
}

.burger-menu {
  .navigation__btn-burger {
    display: none;
  }
  .navigation__btn-close {
    display: flex;
  }
  .navigation__btn-search {
    display: flex;
  }
  .logo::before {
    display: none;
  }
  .logo::after {
    display: none;
  }
}
@media (min-width: 320px) and (max-width: 425px) {
  .burger-menu {
    width: 100%;
  }
}
@media (min-width: 360px) {
  .burger-menu {
    padding: 17px 24px 32px 24px;
  }
  .burger-list {
    &__item--active::after {
      margin-left: -23px;
    }
  }
}
@media (min-width: 768px) {
  .buttons {
    &__connection {
      display: flex;
    }
  }
  .logo::before {
    display: flex;
  }

  .burger-menu {
    .navigation {
      gap: 16px;
    }
  }

  .burger-menu {
    padding: 24px 24px 32px 24px;
    &__burger-list {
      margin-top: 46px;
    }
  }
  .burger-list {
    position: relative;
    &__item:not(:last-child) {
      margin-bottom: 32px;
    }

    &__item--active {
      color: $text-gray;
    }
    &__item--active::after {
      margin-left: -23px;
    }
  }

  .contacts {
    margin-top: 268px;
    &__mail {
      margin-top: 16px;
    }
    &__languages {
      margin-top: 40px;
    }
  }
}

@media (min-width: 1366px) {
  .navigation {
    &__btn-burger {
      display: none;
    }
    &__btn-search {
      display: flex;
    }
    .logo::before {
      display: none;
    }
  }
  .burger-menu {
    transform: translateX(0%);
    position: static;
    box-shadow: none;
    z-index: 0;
    .navigation__btn-close {
      display: none;
    }
  }
  .burger-menu {
    padding: 30px 31px 10px 22px;
  }
  .burger-menu__burger-list {
    margin-top: 37px;
  }
  .burger-list__item:not(:last-child) {
    margin-bottom: 28px;
  }
  .contacts {
    margin-top: 240px;
    &__languages {
      margin-top: 43px;
    }
  }
  .burger-list__item--active::after {
    margin-left: -21px;
  }
}
