.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 16px;
}

@media (min-width: 768px) {
  .container {
    padding: 0 24px;
  }
}

@media (min-width: 1120px) {
  .container {
    padding: 0 32px;
  }
}
@media (min-width: 1366px){
  .container {
    background-color: $bg-color;

  }
}